/* .tableBorder{
    border-bottom: 1px solid lightgray;
}
  
.tableScroll{
    height: 60vh;
    overflow-y: auto;
}

.gridCells {
    font-size: 0.8em;
}
   */
   .gridCells {
    font-size: 0.8em;
  }
  