<h3>Help information</h3>
<ul>
    <li><a routerLink='/availablecourses'>Available Courses</a>: View list of all courses available.</li>
    <li><a routerLink='/students'>Students</a>: View list of all courses available. Once logged in, a professor/advisor can select a student and view their details such as credit history, courses selected for next term.</li>
    <li><a routerLink='/cart'>Cart</a>: The cart allows students to view and select courses for their next term. In order to view the cart, a student must first view their details.</li>
    <li><a routerLink='/create'>Create</a>: The purpose of this component is to enable a NEW user account to be created.</li>
    <li><a routerLink='/activate'>Activate</a>: The purpose of this component is to enable a user account to be activated.</li>
    <li><a routerLink='/login'>Login</a>: The purpose of this component is to enable a user to login.</li>
    <li><a routerLink='/logout'>Logout</a>: The purpose of this component is to enable a user to logout.</li>
</ul>