<h3>Welcome</h3>
<hr>
<a href="https://morning-coast-58076.herokuapp.com/"><p>Heroku-hosted (Angular) app. (https://morning-coast-58076.herokuapp.com)</p></a>
<a href="https://secret-ocean-38431.herokuapp.com"><p>Heroku-hosted (MEN) web service. (https://secret-ocean-38431.herokuapp.com)</p></a>
<hr>
This current version of the app enables the user to work with ALL students.
<br>
<a routerLink='/students'><button type="button" class="btn btn-primary">List of students</button></a>
<hr>
<a routerLink='/login'><button type="button" class="btn btn-primary">Login</button></a>
<a routerLink='/activate'><button type="button" class="btn btn-primary">Activate</button></a>
<a routerLink='/create'><button type="button" class="btn btn-primary">Create</button></a>
<hr>